.likes {
    color: rgb(161, 240, 26);
    color: hsl(12, 87%, 49%);
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  #my-likes {
    color: hsl(12, 87%, 49%);
    font-size: inherit;
    font-family: inherit;
  }
  .dislikes {
    color: #cc2424;
    font-size: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  #my-dislikes {
    color: inherit;
    font-weight: 200;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }